<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="loginMember">
	   SELECT 
              USER_ID
            , USER_EMAIL
            , USER_PWD
            , ENROLL_DATE
            , OUTROLL_DATE
            , STATUS
            , MEMBERSHIP
            , EXCELLENT_FREELANCE
            , BLACKLIST
            , IDENTIFY_EMAIL
            , ADMIN
            , USER_TYPE
            , JOB_TITLE
            , COMPANY
            , SKILL
            , PAY_RATE
            , PROFILE_IMAGE
            , LOCATION
		  FROM MEMBER 
	     WHERE STATUS='Y' 
		   AND USER_ID=? OR USER_EMAIL=?
		   AND USER_PWD=?
	</entry>
	
	<entry key="userCareer">
	   SELECT 
	  		  C.*
	     FROM CAREER C
	     JOIN MEMBER M ON(C.USER_ID=M.USER_ID)
        WHERE C.USER_ID = ?;
	
	</entry>
	
	<entry key="insertMember">
	 INSERT
   	   INTO MEMBER
             (
               USER_ID
             , USER_EMAIL
             , USER_PWD
             , USER_TYPE
             ) 
            VALUES
            (
               ?
             , ?
             , ?
             , ?
             )
	</entry>
</properties>