<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="loginMember">
	   SELECT 
              USER_ID
            , USER_EMAIL
            , USER_PWD
            , ENROLL_DATE
            , OUTROLL_DATE
            , STATUS
            , MEMBERSHIP
            , EXCELLENT_FREELANCE
            , BLACKLIST
            , IDENTIFY_EMAIL
            , ADMIN
            , USER_TYPE
            , JOB_TITLE
            , COMPANY
            , SKILL
            , PAY_RATE
            , PROFILE_IMAGE
            , LOCATION
            , SELF_INTRODUCTION
		  FROM MEMBER 
	     WHERE STATUS='Y' 
		   AND USER_ID=? OR USER_EMAIL=?
		   AND USER_PWD=?
	</entry>
	
	<entry key="userCareer">
	    SELECT 
	   		   C.CAREER_NO
	   		 , C.USER_ID
	   		 , C.COMPANY_INFO
	   		 , C.CAREER_TITLE
	   		 , C.RETIRE_DATE
	   		 , C.HIRE_DATE
	   		 , CAREER_INFO
	   		 , CAREER_STATUS
	      FROM CAREER C
	      JOIN MEMBER M ON(C.USER_ID=M.USER_ID)
         WHERE C.USER_ID = ?
	
	</entry>
	
	<entry key="userEducation">
		SELECT 
			   E.EDUCATION_NO
			 , E.UNIVERSITY
			 , E.MAJOR
			 , E.DEGREE
			 , E.ENROLL_DATE
			 , E.GRAUATED_DATE
			 , E.USER_ID
	      FROM EDUCATION E
		  JOIN MEMBER M ON (E.USER_ID =M.USER_ID)
	     WHERE E.USER_ID = ?
	</entry>
	
	<entry key="userCertification">
		SELECT 
			   CERT.CERTIFICATE_NO
			 , CERT.CERTIFICATE_NAME 
			 , CERT.CERTIFICATE_AUTH
			 , CERT.CERTIFICATE_DATE
			 , CERT.USER_ID
	      FROM CERTIFICATION CERT
          JOIN MEMBER M ON (CERT.USER_ID =M.USER_ID)
         WHERE CERT.USER_ID = ?
	</entry>
	
	<entry key="userPortfolio">
	    SELECT 
	    	   PORT.PORTFOLIO_NO
	    	 , PORT.PORTFOLIO_TITLE
	    	 , PORT.PORTFOLIO_CONTENTS
	    	 , PORT.PORTFOLIO_LINK
	    	 , PORT.PORTFOLIO_SKILL
	    	 , PORT.PORTFOLIO_START
	    	 , PORT.PORTFOLIO_END
	    	 , PORT.USER_ID
	    	 , PORT.PORTFOLIO_FILE
          FROM PORTFOLIO PORT
          JOIN MEMBER M ON (PORT.USER_ID =M.USER_ID)
         WHERE PORT.USER_ID = ?
	</entry>
	
   	<entry key="userPublication">
	    SELECT 
	    	   PUB.BOOK_NO
	    	 , PUB.BOOK_NAME
	    	 , PUB.BOOK_INFO
	    	 , PUB.PUBLISHER
	    	 , PUB.BOOK_DATE
	    	 , PUB.USER_ID
          FROM PUBLICATION PUB
          JOIN MEMBER M ON (PUB.USER_ID =M.USER_ID)
          WHERE PUB.USER_ID = ?
	</entry>
	
	<entry key="insertMember">
	 INSERT
   	   INTO MEMBER
             (
               USER_ID
             , USER_EMAIL
             , USER_PWD
             , USER_TYPE        
             ) 
            VALUES
            (
               ?
             , ?
             , ?
             , ?
             )
	</entry>
	
	<entry key="createPortfolio">
	INSERT
	  INTO PORTFOLIO
	  	   (
	  	   PORTFOLIO_NO
	  	 , USER_ID
	  	 , PORTFOLIO_TITLE
	  	 , PORTFOLIO_CONTENTS
	  	 , PORTFOLIO_LINK
	  	 , PORTFOLIO_SKILL
	  	 , PORTFOLIO_START
	  	 , PORTFOLIO_END
	  	 , PORTFOLIO_FILE
	  	 )
	VALUES 
		   (
		   SEQ_PORTFOLIO_NO.NEXTVAL
	 	 , ?
	 	 , NULL
	 	 , NULL
	 	 , NULL
	 	 , NULL
	 	 , NULL
	 	 , NULL
	 	 , NULL
		 )	  	   
	</entry>
	<entry key="createCareer">
	INSERT
	  INTO CAREER
	       (
	       CAREER_NO
	     , USER_ID
	     , COMPANY_INFO
	     , CAREER_TITLE
	     , CAREER_INFO
	     , HIRE_DATE
	     , RETIRE_DATE
	     , CAREER_STATUS 
	     )
	VALUES (
	       SEQ_CAREER_NO.NEXTVAL
	     , ?
	     , NULL
	     , NULL
	     , NULL
	     , NULL
	     , NULL
	     , DEFAULT
	     )
	</entry>
	<entry key="createCertificate">
	INSERT
	  INTO CERTIFICATION
	  	   (
	  	   CERTIFICATE_NO
	  	 , USER_ID
	  	 , CERTIFICATE_NAME
	  	 , CERTIFICATE_AUTH
	  	 , CERTIFICATE_DATE
	  	 )
	VALUES (
	       SEQ_CERTIFICATION_NO.NEXTVAL
	     , ?
	     , NULL
	     , NULL
	     , NULL
	     )
	</entry>
	<entry key="createEducation">
	INSERT
	  INTO EDUCATION
	       (
	       EDUCATION_NO
	     , USER_ID
	     , UNIVERSITY
	     , MAJOR
	     , DEGREE
	     , ENROLL_DATE
	     , GRAUATED_DATE
	     )
	VALUES (
		   SEQ_EDUCATION_NO.NEXTVAL
	     , ?
	     , NULL
	     , NULL
	     , NULL
	     , NULL
	     , NULL
	     )
	</entry>
	<entry key="createPublication">
	INSERT
	  INTO PUBLICATION
	       (
	       BOOk_NO
	     , USER_ID
	     , BOOK_NAME
	     , BOOK_INFO
	     , PUBLISHER
	     , BOOK_DATE
	     )
	VALUES (
	       SEQ_PUBLICATION_NO.NEXTVAL
	     , ?
	     , NULL
	     , NULL
	     , NULL
	     , NULL
	     )
	</entry>
	
	
	<entry key="idCheck">
	  SELECT
		     COUNT(*)
		FROM MEMBER
	   WHERE USER_ID=?
	</entry>
	
	
	<entry key="updateMember">
	UPDATE
           MEMBER
       SET LOCATION = ?
         , COMPANY = ?
         , SELF_INTRODUCTION = ?
         , PAY_RATE = ? 
     WHERE USER_ID= ? 
	</entry>
	
	
	<entry key="updatePortfolio">
	 UPDATE
            PORTFOLIO
        SET PORTFOLIO_TITLE = ?
          , PORTFOLIO_LINK = ?
          , PORTFOLIO_CONTENTS = ?
          , PORTFOLIO_START = ?
          , PORTFOLIO_END = ?
          , PORTFOLIO_SKILL = ?
      WHERE USER_ID = ?
	</entry>
	
	
	<entry key="updateCareer">
	  UPDATE
             CAREER
         SET COMPANY_INFO = ?
           , CAREER_TITLE = ?
           , CAREER_INFO = ?
           , HIRE_DATE = ?
           , RETIRE_DATE =?
       WHERE USER_ID =?
	</entry>
	
	
	<entry key="updateEducation">
	   UPDATE
              EDUCATION
          SET UNIVERSITY = ?
            , MAJOR = ?
            , DEGREE = ?
            , ENROLL_DATE = ?
            , GRAUATED_DATE = ?
        WHERE USER_ID = ?
	</entry>
	
	
	<entry key="updateCertificate">
	    UPDATE
               CERTIFICATION
           SET CERTIFICATE_NAME = ?
             , CERTIFICATE_AUTH = ?
             , CERTIFICATE_DATE = ?
         WHERE USER_ID = ?
	
	</entry>
	
	
	<entry key="updatePublication">
	    UPDATE 
               PUBLICATION
           SET BOOK_NAME = ?
             , BOOK_INFO = ?
             , PUBLISHER = ?
             , BOOK_DATE = ?
         WHERE USER_ID = ?
	</entry>
	
	
	<entry key="selectListCount">
		SELECT 
			   COUNT(*) LISTCOUNT
		  FROM MEMBER
 		 WHERE ADMIN='N'
	</entry>	
	
	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT 
		               ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT 
		                       USER_ID
		                     , USER_EMAIL
		                     , USER_PWD
				             , ENROLL_DATE
				             , OUTROLL_DATE
				             , STATUS
				             , MEMBERSHIP
				             , EXCELLENT_FREELANCE
				             , BLACKLIST
				             , IDENTIFY_EMAIL
				             , ADMIN
				             , USER_TYPE
				             , JOB_TITLE
				             , COMPANY
				             , SKILL
				             , PAY_RATE
				             , PROFILE_IMAGE
				             , LOCATION
				             , SELF_INTRODUCTION
		                  FROM MEMBER
<!-- 		                 ORDER 
		                    BY FAQ_NO DESC -->
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
		
	<entry key="freelancerSelectDetail">
		SELECT 
		       USER_ID
		     , USER_EMAIL
		     , USER_PWD
		     , ENROLL_DATE
		     , OUTROLL_DATE
		     , STATUS
		     , MEMBERSHIP
		     , EXCELLENT_FREELANCE
		     , BLACKLIST
		     , IDENTIFY_EMAIL
		     , ADMIN
		     , USER_TYPE
		     , JOB_TITLE
		     , COMPANY
		     , SKILL
		     , PAY_RATE
		     , PROFILE_IMAGE
		     , LOCATION
		     , SELF_INTRODUCTION
		  FROM MEMBER
		 WHERE USER_ID = ?
		   AND STATUS = 'Y'
		   AND ADMIN = 'N'
	</entry>
</properties>