<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- 내 프로젝트 관련 SQL문 -->
	<entry key="insertProject">
		INSERT
		  INTO PROJECT
		  (
		   PROJECT_ID,
		   CLIENT_ID,
		   REQUIRED_SKILL,
		   PROJECT_NAME,
		   DESCRIPTION,
		   PROJECT_STATUS,
		   EXPECT_START,
		   EXPECT_END,
		   MEANS_OF_PAYMENT,
		   MIN_BID,
		   MAX_BID,
		   START_BID,
		   END_BID,
		   COUNT_BID,
		   AVERAGE_BID,
		   WINNER_ID,
		   WINNING_BID,
		   START_DATE,
		   END_DATE
		  )
		  VALUES
		  (
		    SEQ_PROJ.NEXTVAL,
		    ?,
		    ?,
		    ?,
		    ?,
		    DEFAULT,
		    ?,
		    ?,
		    ?,
		    ?,
		    ?,
		   	DEFAULT,
		    ?,
		    NULL,
		    NULL,
		    NULL,
		    NULL,
		    NULL,
		    NULL
		  )
	</entry>
	
	<entry key="selectMyBidProjectList">
		SELECT
		       PROJECT_ID
		     , CLIENT_ID
		     , REQUIRED_SKILL
		     , PROJECT_NAME
		     , DESCRIPTION
		     , PROJECT_STATUS
		     , EXPECT_START
		     , EXPECT_END
		     , MEANS_OF_PAYMENT
		     , MIN_BID
		     , MAX_BID
		     , START_BID
		     , END_BID
		     , COUNT_BID
		     , AVERAGE_BID
		     , WINNER_ID
		     , WINNING_BID
		     , START_DATE
		     , END_DATE
		  FROM PROJECT
		  JOIN MEMBER ON (CLIENT_ID = USER_ID)
		  WHERE WINNER_ID = ?
		    AND
		    NOT PROJECT_STATUS = 'DELETE'
		  ORDER
		     BY PROJECT_ID DESC
	</entry>

	<entry key="selectMyProjectList">
		SELECT
		       PROJECT_ID
		     , CLIENT_ID
		     , REQUIRED_SKILL
		     , PROJECT_NAME
		     , DESCRIPTION
		     , PROJECT_STATUS
		     , EXPECT_START
		     , EXPECT_END
		     , MEANS_OF_PAYMENT
		     , MIN_BID
		     , MAX_BID
		     , START_BID
		     , END_BID
		     , COUNT_BID
		     , AVERAGE_BID
		     , WINNER_ID
		     , WINNING_BID
		     , START_DATE
		     , END_DATE
		  FROM PROJECT
		  JOIN MEMBER ON (CLIENT_ID = USER_ID)
		  WHERE CLIENT_ID = ?
		    AND
		    NOT PROJECT_STATUS = 'DELETE'
		  ORDER
		     BY PROJECT_ID DESC
	</entry>
	
	<entry key="selectMyProject">
		SELECT
		       PROJECT_ID
		     , CLIENT_ID
		     , REQUIRED_SKILL
		     , PROJECT_NAME
		     , DESCRIPTION
		     , PROJECT_STATUS
		     , EXPECT_START
		     , EXPECT_END
		     , MEANS_OF_PAYMENT
		     , MIN_BID
		     , MAX_BID
		     , START_BID
		     , END_BID
		     , COUNT_BID
		     , AVERAGE_BID
		     , WINNER_ID
		     , WINNING_BID
		     , START_DATE
		     , END_DATE
		  FROM PROJECT
		  JOIN MEMBER ON (CLIENT_ID = USER_ID)
		  WHERE PROJECT_ID = ?
		    AND (CLIENT_ID = ?
		     OR WINNER_ID = ?)
		    AND
		    NOT PROJECT_STATUS = 'DELETE'
	</entry>
	
	<entry key="deleteMyProject">
		UPDATE 
		       PROJECT
		   SET PROJECT_STATUS = 'DELETE'
		 WHERE PROJECT_ID = ?
		   AND CLIENT_ID = ?
		   AND 
		   NOT PROJECT_STATUS = 'DELETE'
	</entry>
	
	<entry key="deleteMyBid">
		UPDATE 
		       PROJECT
		   SET WINNER_ID = NULL
		     , PROJECT_STATUS = 'HOLD'
		 WHERE PROJECT_ID = ?
		   AND WINNER_ID = ?
		   AND 
		   NOT PROJECT_STATUS
		    IN ('DELETE', 'OPEN')
	</entry>
	
	<!-- 탐색 관련 SQL문 -->
	<entry key="selectListCount">
		SELECT COUNT(*)
		  FROM PROJECT
		 WHERE PROJECT_STATUS='OPEN'
		   AND MIN_BID BETWEEN 200000 AND ?
		   AND MAX_BID BETWEEN ? AND 5000000;
	</entry>
	
	<entry key="searchListProject">
		SELECT
		       PROJECT_ID
		     , PROJECT_NAME
		     , PROJECT_STATUS
		     , DESCRIPTION
		     , END_BID
		     , MIN_BID
		     , MAX_BID
		     , COUNT_BID
		  FROM PROJECT
		 WHERE PROJECT_STATUS='OPEN'
		   AND MIN_BID BETWEEN 200000 AND ?
		   AND MAX_BID BETWEEN ? AND 5000000
		 ORDER 
		    BY PROJECT_ID DESC
	</entry>
	
	<entry key="projectSelectList">
			SELECT
		       PROJECT_ID
		     , PROJECT_NAME
		     , PROJECT_STATUS
		     , DESCRIPTION
		     , END_BID
		     , MIN_BID
		     , MAX_BID
		     , COUNT_BID
		  FROM PROJECT
		 WHERE PROJECT_STATUS='OPEN'
		 ORDER 
		    BY PROJECT_ID DESC
	</entry>
	
	<entry key="freelancerSelectList">
		SELECT
		        USER_ID
		      , EXCELLENT_FREELANCE
		      , SKILL
		      , PAY_RATE
		      , LOCATION
		      , SELF_INTRODUCTION
		      , PROFILE_IMAGE
		   FROM MEMBER
		  WHERE STATUS = 'Y'
		    AND ADMIN = 'N'
		  ORDER 
		     BY USER_ID DESC
	</entry>
	
	<entry key="projectSelectDetail">
		SELECT
		       PROJECT_ID
		     , CLIENT_ID
		     , REQUIRED_SKILL
		     , PROJECT_NAME
		     , DESCRIPTION
		     , PROJECT_STATUS
		     , EXPECT_START
		     , EXPECT_END
		     , MEANS_OF_PAYMENT
		     , MIN_BID
		     , MAX_BID
		     , START_BID
		     , END_BID
		     , COUNT_BID
		     , AVERAGE_BID
		     , WINNER_ID
		     , WINNING_BID
		     , START_DATE
		     , END_DATE
		  FROM PROJECT
		  WHERE PROJECT_ID = ?
		    AND
		    NOT PROJECT_STATUS = 'DELETE'
	</entry>
	
	
	<entry key="excellnetSelectList">
		SELECT
		        USER_ID
		      , EXCELLENT_FREELANCE
		      , SKILL
		      , PAY_RATE
		      , LOCATION
		      , SELF_INTRODUCTION
		      , PROFILE_IMAGE
		   FROM MEMBER
		  WHERE STATUS = 'Y'
		    AND ADMIN = 'N'
		    AND EXCELLENT_FREELANCE = 'Y'
		  ORDER 
		     BY USER_ID DESC; 
	</entry>
</properties>