<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertProject">
		INSERT
		  INTO PROJECT
		  (
		   PROJECT_ID,
		   CLIENT_ID,
		   REQUIRED_SKILL,
		   PROJECT_NAME,
		   DESCRIPTION,
		   PROJECT_STATUS,
		   EXPECT_START,
		   EXPECT_END,
		   MEANS_OF_PAYMENT,
		   MIN_BID,
		   MAX_BID,
		   START_BID,
		   END_BID,
		   COUNT_BID,
		   AVERAGE_BID,
		   WINNER_ID,
		   WINNING_BID,
		   START_DATE,
		   END_DATE
		  )
		  VALUES
		  (
		    SEQ_PNO.NEXTVAL,
		    ?,
		    ?,
		    ?,
		    ?,
		    DEFAULT,
		    ?,
		    ?,
		    ?,
		    ?,
		    ?,
		   	DEFAULT,
		    ?,
		    NULL,
		    NULL,
		    NULL,
		    NULL,
		    NULL,
		    NULL
		  )
	</entry>
	
	<entry key="insertProposal">
	INSERT
	  INTO PROPOSAL
	  (
	      PROPOSAL_NO
	    , PROPOSAL_INFO
	    , PROPOSAL_PRICE
	    , PROPOSAL_START
	    , PROPOSAL_END
	  )
	VALUES
	  (
	      SEQ_PNO.NEXTVAL
	    , ?
	    , ?
	    , ?
	    , ?
	  );
	</entry>
	
</properties>