<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertProject">
		INSERT
		  INTO PROJECT
		  (
		   PROJECT_ID,
		   CLIENT_ID,
		   REQUIRED_SKILL,
		   PROJECT_NAME,
		   DESCRIPTION,
		   PROJECT_STATUS,
		   EXPECT_START,
		   EXPECT_END,
		   MEANS_OF_PAYMENT,
		   MIN_BID,
		   MAX_BID,
		   START_BID,
		   END_BID,
		   COUNT_BID,
		   AVERAGE_BID,
		   WINNER_ID,
		   WINNING_BID,
		   START_DATE,
		   END_DATE
		  )
		  VALUES
		  (
		    SEQ_PROJ.NEXTVAL,
		    ?,
		    ?,
		    ?,
		    ?,
		    DEFAULT,
		    ?,
		    ?,
		    ?,
		    ?,
		    ?,
		   	DEFAULT,
		    ?,
		    NULL,
		    NULL,
		    NULL,
		    NULL,
		    NULL,
		    NULL
		  )
	</entry>
	
	<entry key="selectMyBidProjectList">
		SELECT
		       PROJECT_ID
		     , CLIENT_ID
		     , REQUIRED_SKILL
		     , PROJECT_NAME
		     , DESCRIPTION
		     , PROJECT_STATUS
		     , EXPECT_START
		     , EXPECT_END
		     , MEANS_OF_PAYMENT
		     , MIN_BID
		     , MAX_BID
		     , START_BID
		     , END_BID
		     , COUNT_BID
		     , AVERAGE_BID
		     , WINNER_ID
		     , WINNING_BID
		     , START_DATE
		     , END_DATE
		  FROM PROJECT
		  JOIN MEMBER ON (CLIENT_ID = USER_ID)
		  WHERE WINNER_ID = ?
		    AND
		    NOT PROJECT_STATUS = 'DELETE'
		  ORDER
		     BY PROJECT_ID DESC
	</entry>

	<entry key="selectMyProjectList">
		SELECT
		       PROJECT_ID
		     , CLIENT_ID
		     , REQUIRED_SKILL
		     , PROJECT_NAME
		     , DESCRIPTION
		     , PROJECT_STATUS
		     , EXPECT_START
		     , EXPECT_END
		     , MEANS_OF_PAYMENT
		     , MIN_BID
		     , MAX_BID
		     , START_BID
		     , END_BID
		     , COUNT_BID
		     , AVERAGE_BID
		     , WINNER_ID
		     , WINNING_BID
		     , START_DATE
		     , END_DATE
		  FROM PROJECT
		  JOIN MEMBER ON (CLIENT_ID = USER_ID)
		  WHERE CLIENT_ID = ?
		    AND
		    NOT PROJECT_STATUS = 'DELETE'
		  ORDER
		     BY PROJECT_ID DESC
	</entry>
	
	<entry key="selectMyProject">
		SELECT
		       PROJECT_ID
		     , CLIENT_ID
		     , REQUIRED_SKILL
		     , PROJECT_NAME
		     , DESCRIPTION
		     , PROJECT_STATUS
		     , EXPECT_START
		     , EXPECT_END
		     , MEANS_OF_PAYMENT
		     , MIN_BID
		     , MAX_BID
		     , START_BID
		     , END_BID
		     , COUNT_BID
		     , AVERAGE_BID
		     , WINNER_ID
		     , WINNING_BID
		     , START_DATE
		     , END_DATE
		  FROM PROJECT
		  JOIN MEMBER ON (CLIENT_ID = USER_ID)
		  WHERE PROJECT_ID = ?
		    AND (CLIENT_ID = ?
		     OR WINNER_ID = ?)
		    AND
		    NOT PROJECT_STATUS = 'DELETE'
	</entry>
	
	<entry key="selectListCount">
		SELECT COUNT(*)
		  FROM PROJECT
		 WHERE PROJECT_STATUS='OPEN'
		   AND MIN_BID BETWEEN 200000 AND ?
		   AND MAX_BID BETWEEN ? AND 5000000;
	</entry>
	
	
	<entry key="searchListProject">
		SELECT
		       PROJECT_ID
		     , PROJECT_NAME
		     , PROJECT_STATUS
		     , DESCRIPTION
		     , END_BID
		     , MIN_BID
		     , MAX_BID
		     , COUNT_BID
		  FROM PROJECT
		 WHERE PROJECT_STATUS='OPEN'
		   AND MIN_BID BETWEEN 200000 AND ?
		   AND MAX_BID BETWEEN ? AND 5000000
		 ORDER 
		    BY PROJECT_ID DESC
	</entry>
</properties>