<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount">
		SELECT 
			   COUNT(*) LISTCOUNT
		  FROM ENQUIRY
         <!-- WHERE ANSWER_STATE = 'Y' -->
	</entry>
	
	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT 
		               ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT 
		                       ENQ_NO
		                     , USER_ID
		                     , ENQUIRY_TYPE
		                     , ENQUIRY_TITLE
		                     , ENQUIRY_DATE
		                     , ANSWER_STATE
		                  FROM ENQUIRY E
		                  JOIN MEMBER USING(USER_ID)
		                 <!-- WHERE E.ANSWER_STATE = 'Y' -->
		                 ORDER 
		                    BY ENQ_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	<entry key="insertEnquiry">
		INSERT
	    INTO ENQUIRY
	    (
	        ENQ_NO
	      , USER_ID
	      , ENQUIRY_TYPE
	      , ENQUIRY_TITLE
	      , ENQUIRY_CONTENT
	      , ENQUIRY_DATE
	      , ANSWER_STATE
	    )
	    VALUES
	    (
	        SEQ_ENQ.NEXTVAL
	      , ?
	      , ?
	      , ?
	      , ?
	      , SYSDATE
	      , 'N'
	    )
	</entry>




	
</properties>





