@charset "UTF-8";

/*login과 signUp 공통 css*/
div{
	font-family: 'Cafe24Simplehae', 'sans-serif';
}

html, body{height: 100%;}
input::placeholder {font-size: 90%;}

.loginAll,  .signUpAll{
    background-color: #0f4c75;
    width: 100%; height: 100%;
    }
#loginForm>table, #signUpForm>table{
    background-color: white;
    text-align: center;
    width: 400px;
    height:550px;
    box-shadow: 8px 8px 8px 8px #26353d;
    }
    
/*login*/
#loginForm input#userId, #loginForm input#userPwd{
             width:300px;
            height:50px;
    }
.loginArea table{margin:auto;}

/*signUp*/
#signUpForm input#userId{
     width:220px;
     height:50px;
    }
#btn{
    width: 80px;
    height: 30px;
    font-size: 13px;
    }
#signUpForm input#email, #signUpForm input#userPwd{
    width:300px;
    height:50px;
    }
.signUpArea table{margin:auto;}

/*Modal공통*/
.modal-header{text-align: center;}
/*회원유형 Modal*/
#userTypeForm table{margin:auto;}
#userTypeForm input{margin:5px;}
/*비밀번호 찾기 Modal*/
#pwdFindForm table{margin:auto;}
#pwdFindForm input{margin:5px;}
#pwdFindForm input#email, #pwdFindForm input#certification{
    width:200px;
    height:40px;
    }
       


/*myPage css*/


.wrap>div{
	border : none;
	background-color: white;
}

/*프로필 시작*/
#profile{
    width: 1100px;
    height: 450px;
    margin: 20px;
    position: relative;
}

#profile>div{
	border: none;
}


#profilePhoto{
	width: 250px;
	height: 250px;
	position: absolute;
	margin: 10px;
}


#location{
	width: 250px;
	height: 150px;
	right: 643px;
	position: relative;
	top: 270px;
	right: 413px;
	margin: 10px;
	
}

#userName{
	width: 300px;
	height: 150px;
	position: relative;
	bottom: 162px;
	right: 100px;
	margin: 10px;

}

#workship{
	width: 725px;
	height: 80px;
	position: relative;
	bottom: 157px;
	left: 112px;
	margin: 10px;
}

#userContent{
	width: 750px;
	height: 170px;
	position: relative;
	bottom: 157px;
	left: 125px;
}

#hirePositionButton{
	width: 100px;
	height: 30px;
	position:absolute;
	right: 1px;
	top: 20px;
}
/*프로필 끝 포트폴리오 시작*/
#portpolyo{
    width: 1100px;
    height: 500px;
	margin: 25px;
	position: relative;
	padding: 20px;
	text-align: left;
}

#portpolioModifiy{
	width: 100px;
	height: 30px;
	position: absolute;
	right: 2px;
	top: 20px;
	
}



/*포트폴리오 끝 리뷰 시작*/

#review{
    width: 1100px;
    height: 350px;
	margin: 25px;
	position: relative;
	padding: 20px;
	text-align: left;
}

#reviewModifiy{
	width: 100px;
	height: 50px;
	position: absolute;
	right: 40px;
	top: 40px;
	
	text-align: right;
	
}


/*리뷰끝 경력 시작*/
#career{
    width: 1100px;
    height: 350px;
	margin: 25px;
	position: relative;
	padding: 20px;
	text-align: left;
}

#careerModifiy{
	width: 100px;
	height: 30px;
	position: absolute;
	right: 1px;
	top: 20px;
	
}

/*경력 끝 교육 시작*/

#education{    
    width: 1100px;
    height: 350px;
	margin: 25px;
	position: relative;
	padding: 20px;
	text-align: left;
}

#educationModifiy{
	width: 100px;
	height: 30px;
	position: absolute;
	right: 1px;
	top: 20px;
	
}

/*교육끝 자격증 시작*/

#cartification{    
	width: 1100px;
    height: 350px;
	margin: 25px;
	position: relative;
	padding: 20px;
	text-align: left;
}

#cartificationModifiy{
	width: 100px;
	height: 30px;
	position: absolute;
	right: 1px;
	top: 20px;
	
}

/*자격증 끝 출판물 시작*/

#publication{    
    width: 1100px;
    height: 350px;
	margin: 25px;
	position: relative;
	padding: 20px;
	text-align: left;
}

#publicationModifiy{
	width: 100px;
	height: 30px;
	position: absolute;
	right: 1px;
	top: 20px;
	
}


/*textarea css*/
textarea{
	width: 100%; box-sizing: border-box;
}

/*계좌설정*/
#accountInfor{
	border-top:1px solid black; 
	padding-top:10px;
	height: 250px;
	}
#accountInfor>table th{text-align:left;}
#accountInfor>table td{
    color: gray;
    padding: 5px;
    text-align:left;
    }
#accountInfor input{
	height: 40px;
}
#bank{height: 35px;}
#account{width: 300px;}
#bankBtn{
    float:right;
 margin-right:5%;
}

/*카드설정*/
#cardInfor{
	height: 250px;
    margin-top: 5px;
    padding-top:10px;
    border-top:1px solid black;
    }
#cardInfor>table th{text-align:left;}
#cardInfor>table td{
    color: gray;
    padding: 5px;
    text-align:left;
    }
#cardInfor input{
	height: 40px;
}
#card{width: 300px;}
#cardBtn{
    float:right;
 margin-right:5%;
}  


