@charset "UTF-8";

/*login과 signUp 공통 css*/
div{
	font-family: 'Cafe24Simplehae', 'sans-serif';
}

html, body{height: 100%;}
input::placeholder {font-size: 90%;}

.loginAll,  .signUpAll{
    background-color: #0f4c75;
    width: 100%; height: 100%;
    }
#loginForm>table, #signUpForm>table{
    background-color: white;
    text-align: center;
    width: 400px;
    height:550px;
    box-shadow: 8px 8px 8px 8px #26353d;
    }
    
/*login*/
#loginForm input#userId, #loginForm input#userPwd{
             width:300px;
            height:50px;
    }
.loginArea table{margin:auto;}

/*signUp*/
#signUpForm input#userId{
     width:220px;
     height:50px;
    }
#btn{
    width: 80px;
    height: 30px;
    font-size: 13px;
    }
#signUpForm input#email, #signUpForm input#userPwd{
    width:300px;
    height:50px;
    }
.signUpArea table{margin:auto;}

/*Modal*/
.modal-header{text-align: center;}
#userTypeForm table{margin:auto;}
#userTypeForm input{margin:5px;}
#pwdFindForm table{margin:auto;}
#pwdFindForm input{margin:5px;}



/*myPage css*/


.wrap>div{
	/*div영역 체크하기 위한 보더 구분 완성된 이후 삭제*/
	border: 1px solid black;
	background-color: white;
}

/*프로필 시작*/
#profile{
    width: 1100px;
    height: 450px;
    margin: 20px;
}

#profile>div{
	border: 1px solid;
}

#profilePhoto{
	width: 250px;
	height: 250px;
	position: absolute;
	margin: 10px;
}

#location{
	width: 250px;
	height: 150px;
	right: 643px;
	position: relative;
	top: 270px;
	right: 413px;
	margin: 10px;
	
}

#userName{
	width: 300px;
	height: 150px;
	position: relative;
	bottom: 162px;
	right: 100px;
	margin: 10px;

}

#workship{
	width: 725px;
	height: 80px;
	position: relative;
	bottom: 157px;
	left: 112px;
	margin: 10px;
}

#userContent{
	width: 750px;
	height: 170px;
	position: relative;
	bottom: 157px;
	left: 125px;
}

#hirePositionButton{
	width: 300px;
	height: 30px;
	position: relative;
	bottom: 550px;
	left: 300px;
}
/*프로필 끝 포트폴리오 시작*/
#portpolyo{
    width: 1100px;
    height: 300px;
	margin: 25px;
	position: relative;
	padding: 20px;
	text-align: left;
}

#portpolyoModifiy{
	width: 100px;
	height: 30px;
	position: absolute;
	right: 1px;
	top: 20px;
	
}



/*포트폴리오 끝 리뷰 시작*/

#review{
    width: 1100px;
    height: 250px;
	margin: 25px;
	position: relative;
	padding: 20px;
	text-align: left;
}

#reviewModifiy{
	width: 100px;
	height: 50px;
	position: absolute;
	right: 40px;
	top: 40px;
	
	text-align: right;
	
}


/*리뷰끝 경력 시작*/
#career{
    width: 1100px;
    height: 235px;
	margin: 25px;
	position: relative;
	padding: 20px;
	text-align: left;
}

#careerModifiy{
	width: 100px;
	height: 30px;
	position: absolute;
	right: 1px;
	top: 20px;
	
}

/*경력 끝 교육 시작*/

#education{    
    width: 1100px;
    height: 235px;
	margin: 25px;
	position: relative;
	padding: 20px;
	text-align: left;
}

#educationModifiy{
	width: 100px;
	height: 30px;
	position: absolute;
	right: 1px;
	top: 20px;
	
}

/*교육끝 자격증 시작*/

#cartification{    
	width: 1100px;
    height: 235px;
	margin: 25px;
	position: relative;
	padding: 20px;
	text-align: left;
}

#cartificationModifiy{
	width: 100px;
	height: 30px;
	position: absolute;
	right: 1px;
	top: 20px;
	
}

/*자격증 끝 출판물 시작*/

#publication{    
    width: 1100px;
    height: 235px;
	margin: 25px;
	position: relative;
	padding: 20px;
	text-align: left;
}

#publicationModifiy{
	width: 100px;
	height: 30px;
	position: absolute;
	right: 1px;
	top: 20px;
	
}


/*textarea css*/
textarea{
	width: 100%; box-sizing: border-box;
}


