@charset "UTF-8";

<style type="text/css">
	.tableView{
		padding: 30px;
		font-size: 15px;
	}
	
	th {text-align: center; background:#0F4C75; color:white;}

	div.modal-content>table>tfoot, tbody {
	   	text-align: center;
	}
	
	.listArea{
        text-align:center;
    }
    .listArea>tbody>tr:hover{
        background:rgb(23, 34, 59, 0.1);
        cursor:pointer;
    }
	
	.detailView{
		width: 100%;
		padding: 10px;
		height: 300px;
	}
	
	/* 문의내역 내 스타일 */
	.myEnqDetailContent{
		text-align:left;
		width: 100%;
		height: 90%;
		border-radius: 3px;
		border: 2px solid rgb(23, 34, 59, 0.2);
	}
	
	.myEnqDetailView , .myAnsDetailView{
		width: 48%;
		height: 100%;
		float:left; 
		padding: 30px;
		margin:10px;
		color: rgb(23, 34, 59);
		border: 3px solid rgb(23, 34, 59, 0.4);
		border-radius: 5px;
		box-sizing: border-box;
		overflow: scroll;
	}
</style>