@charset "UTF-8";

/* Web Font */
@font-face {
    font-family: 'Cafe24Simplehae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Project Form */
.projectForm input[type='text'], .projectForm textarea {
	width: 100%;
	box-sizing: border-box;
}

.projectForm input[type='checkbox'],
.projectForm input[type='radio'] {
	height: 1em;
}

.projectForm textarea {
	resize: none;
}

.projectForm section {
	margin-bottom: 1em;
}

/* My Project */
.myProjectHeader {
	margin-bottom: 1.5em;
}

.myProjectHeader:after {
	display: block;
	content: '';
	clear: both;
}

.myProjectHeader #contentTitle {
	float: left;
	margin: 0;
}

.myProjectHeader .bs-example {
	float: right;
}

.myProjectNav {
	text-align: right;
	margin-bottom: 1.75em;
}

.myProjectNav a {
	color: black;
}

.myProjectNav a:hover {
	text-decoration: none;
}

.projectTable {
	width: 100%;
	margin: 1em 0;
}

.projectTable > thead th {
	color: bolder;
	padding-bottom: .5em;
}

.projectTable > tbody > tr a {
	color: black;
	text-decoration: none;
}

.projectTable th, .projectTable td {
	text-align: left;
}

/* detailProject 시작 */

#deatail_Category{
    background: #eeeeee;
    padding: 30px;
}
#deatail_Category>a{
    text-decoration: none;
    color:black;
    padding: 5px;
}
#deatail_Category>a:hover{
    background:#cfd1d8;
}
#deatail_Category>label{
    background: royalblue;
    color: aquamarine;
    width:90px;
    height:35px;
    float:right;
    font-size: 17px;
    font-weight: bolder;
    border-radius: 30px;
    box-sizing:border-box;
}
#detailProject{
    width:1000px;
    margin:50px;
    margin-top:40px;
    float: left;
}
#detail_Content{
    border:1px solid black;
    padding: 30px;
    text-align: justify;
}
#detail_Title{
    font-size: 18px;
    font-weight: bold;
}
#price{
    font-size: 18px;
    font-weight: bold;
    float:right;
}

#proposal{
    border: 1px solid black;
    padding: 30px;
    margin-top: 20px;
}
#membership{
    border: 1px solid black;
    padding: 30px;
    margin-top: 20px;
}
#employerInfo1, #btnGroup{
    width: 280px;
    padding: 20px;
    margin: 40px;
}
#submitBtn{
    float: right;
    height: 40px;
}
#btnGroup>button{
    width: 230px; 
    height: 30px;
}



/* searchListProject 시작 */

#searchContent{
    padding: 25px;
    margin:auto;
    width:1300px;
}
#projectCategory{
    background: #f0f1f3;
    padding: 18px;
    width:320px;
    float:left;
}
form #feelter_sub p{font-weight: bold}
.feelter_main{
    font-size: 18px;
    margin: 5px;
    color:black;
    font-size: 20px;
    height: 40px;
    font-weight: bold;
}
.feelter_main>a:hover{
    font-size: 20px;
    height: 40px;
    font-weight: bold;
    background: #cfd1d8;
    cursor:pointer;
    text-deroration:none;
    color:black;
}
#searchProject{
    background: #f0f1f3;
    padding: 30px;
    width: 880px;
    float: right;
    cursor:pointer;
}
#projectTitle{
    font-size: 20px;
    font-weight: bold;
}
#price{
    font-size: 20px;
    font-weight: bold;
    float: right;
}
#searchprojectList:hover{box-shadow: 4px 4px 4px 4px gray}


/* searcListFreelancer 시작 */

#searchContent2{
    padding: 25px;
    margin:auto;
    width:1300px;
}
#freelancerCategory{
    background: #f0f1f3;
    padding: 18px;
    width:320px;
    float:left;
}
form #feelter_sub{font-weight: bold}
.feelter_main{
    font-size: 18px;
    margin: 5px;
    color:black;
    font-size: 20px;
    height: 40px;
    font-weight: bold;
}
.feelter_main>a:hover{
    font-size: 20px;
    height: 40px;
    font-weight: bold;
    background: #cfd1d8;
    cursor:pointer;
    text-deroration:none;
    
}
#searchFreelancer{
    background: #f0f1f3;
    padding: 30px;
    width: 880px;
    float: right;
    cursor:pointer;
}
#searchFreelancerList button{
    float: right;
    width: 120px;
    height: 60px;
}
#freelancerTitle{
    font-size: 20px;
    font-weight: bold;
}
#price{
    font-size: 20px;
    font-weight: bold;
    float: right;
}
#searchFreelancerList:hover{box-shadow: 4px 4px 4px 4px gray}



/* totalSearch 시작 */

 #totalSearch{
      width: 1000px;
      height: 50px;
      margin: auto;
  }
  .search{
      font-size:20px;
      font-weight:bold;
  }
  .title{
      font-size:18px; 
      font-weight: bold;
  }
  .price{
      float:right; 
      font-size:larger; 
      font-weight: bold;
  }
  form input{height:35px}
  #project,#freelancer{
      background: #f0f1f3;
      padding: 25px;
      width: 1000px;
  }
  #project div:hover{
      box-shadow:4px 4px 4px 4px gray;
      cursor:pointer;
  }
  #freelancer div:hover{
      box-shadow: 4px 4px 4px 4px gray;
      cursor:pointer;
  }
  #project input{width: 300px}
  #freelancer input{width: 300px}


/* favoriteProject 시작 */

#favoriteCategory{
    background: #eeeeee;
    padding: 30px;
}
#favoriteCategory>a{
    text-decoration: none;
    color:black;
    padding: 5px;
    font-size: 14px;
}
#favoriteCategory>a:hover{
    background:#cfd1d8;
    font-weight: bold;
}
#favoriteProject{
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    margin : 20px 10px;
}
#favoriteProject th{
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
#favoriteProject td{
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
} 

